.container {
  background-image: url("../../../public/home2.svg");
  background-repeat: "no-repeat";
  height: calc(100vh - 80px);
  background-size: cover;
}

.sidebarContent > img {
  margin-bottom: 130px;
}

.sidebarContent > h1 {
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 2rem;
}
